<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>

<body>
  <input class="box1" type="text">
  <input class="box2" type="text">
</body>

<style>
  body {
    display: flex;
    margin: 200px 200px;
    justify-content: center;
    align-items: center;
  }

  input {
    height: 30px;
    margin: 20px;
  }

  .box1 {

    flex: 0 1 300px
  }

  .box2 {
    flex: 0 1 40%
  }
</style>

</html>